* {
   box-sizing: border-box;
}

html, body {
   padding: 0;
   margin: 0;
   height: 100%;   
   background-color: #fff;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*index*/
.sick-girl {
   margin-top: 280px;
   position: absolute;
   z-index: 3;
}

#bottom-piece {
   width: 100%;
   height: 315px;
   background-color: rgb(201, 189, 165);
   top: 560px;
   position: fixed;
}

.intro-text1 {
   margin-top: 90px;
   font-size: 38px;
   font-family: 'Raleway', sans-serif;
   line-height: 42px;
}

.intro-text2 {
   font-size: 28px;
   font-family: 'Raleway', sans-serif;
   padding-top: 7px;
}

.intro-text3 {
   font-size: 22px;
   font-family: 'Pragati Narrow', sans-serif;
   margin-top: 1px;
}

.intro-text3-2 {
   font-size: 22px;
   font-family: 'Pragati Narrow', sans-serif;
   margin-top: -30px;
}

#input-name {
   margin-top: -8px;
   font-size: 17px;
}

#input-zipcode {
   margin-top: -8px;
   font-size: 17px;
}

.intro-text4 {
   font-size: 22px;
   font-family: 'Pragati Narrow', sans-serif;
   margin-top: -22px;
}

.check-yes-no {
   display: inline-flex;
   font-size: 18px;
   font-family: 'Barlow', sans-serif;
   margin-left: 20px;
   cursor: pointer;
   margin-top: 6px;
}

.check-no {
   padding-right: 30px;
   cursor: pointer;
}

.check-yes:hover {
   color: rgb(0, 189, 164);
   font-weight: bolder;
   font-size: 24px;
   transition: all 500ms;
   font-size-adjust: 20px;
}

.check-no:hover {
   color: rgb(245, 95, 9);
   font-weight: bolder;
   font-size: 24px;
   transition: all 500ms;
   font-size-adjust: 20px;
}

.last-quote {
   text-align: right;
   color: rgb(39, 39, 38);
}

 .alert {
   display: none;
   margin-left: 40px;
   top: 330px;
   font-size: 17px;
   font-weight: bolder;
   z-index: 5;
}

/*header*/
header {
   height: 60px;
   background-color: rgb(201, 189, 165);
   transition: 1s;
   z-index: 9;
   position: fixed;
   top: 0;
   left: 0;
   right: 0; 
}

header:hover {
   height: 200px;
   background-color: rgb(201, 189, 165);
   transition: transform .2s;
   transition: 1s;
   opacity: 0.4;
}

.logo a {
  font-family: 'Grand Hotel', cursive;
   font-weight: bolder;
   color: #fff;
   padding-top: 10px;
   padding-left: 20px;
   font-size: 40px;
   letter-spacing: 2px;
   position: absolute;
}

.logo a:hover {
   text-decoration: none;
}

#header-message {
   font-size: 52px;
   font-family: 'Quicksand', sans-serif;
   color: #fff;
   margin-left: 400px;
   position:absolute;
   -webkit-animation: move 1s infinite; 
   -webkit-animation-direction: alternate; 
   animation: move 1s infinite;
   animation-direction: alternate;
   z-index: 3;
   font-weight: 900;
}

@-webkit-keyframes move {
  from {top: 150px;}
  to {top: 25px;}
}


/*symptoms*/
.main-text {
   font-size: 25px;
   margin-left: 200px;
   margin-top: 100px;
   font-family: 'Quicksand', sans-serif;
   padding-bottom: 20px;
   color: rgb(41, 39, 35);
}

.sickboy-imgbtns {
   margin-left: 50px;
   margin-top: 5px;
   width: 80%;
}

.sickboy {
   background-color: rgb(250, 251, 252);
   padding: 0px 7px 5px 7px;
   margin-right: 20px;
   margin-bottom: 10px;
  
   border-bottom-right-radius: 75px;
   border-top-right-radius: 75px;
   border-top-left-radius: 75px;
}
.sickboy:hover {
   border: 7px solid rgb(226, 223, 216);
}

.selected-symptom {
   border: 7px solid rgb(226, 223, 216);
}

.unselected-symptom {
   border: 7px solid rgb(173, 162, 142);
}

.boy-container1 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy1:hover + .symptom-text1 {
   opacity:1;
}
.symptom-text1:hover  {
   opacity: 0.9;
}
.symptom-text1 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container2 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy2:hover + .symptom-text2 {
   opacity:1;
}
.symptom-text2:hover  {
   opacity: 0.9;
}
.symptom-text2 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container3 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy3:hover + .symptom-text3 {
   opacity:1;
}
.symptom-text3:hover  {
   opacity: 0.9;
}
.symptom-text3 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container4 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy4:hover + .symptom-text4 {
   opacity:1;
}
.symptom-text4:hover  {
   opacity: 0.9;
}
.symptom-text4 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container5 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy5:hover + .symptom-text5 {
   opacity:1;
}
.symptom-text5:hover  {
   opacity: 0.9;
}
.symptom-text5 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container6 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy6:hover + .symptom-text6 {
   opacity:1;
}
.symptom-text6:hover  {
   opacity: 0.9;
}
.symptom-text6 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container7 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy7:hover + .symptom-text7 {
   opacity:1;
}
.symptom-text7:hover  {
   opacity: 0.9;
}
.symptom-text7 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container8 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy8:hover + .symptom-text8 {
   opacity:1;
}
.symptom-text8:hover  {
   opacity: 0.9;
}
.symptom-text8 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container9 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy9:hover + .symptom-text9 {
   opacity:1;
}
.symptom-text9:hover  {
   opacity: 0.9;
}
.symptom-text9 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container10 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy10:hover + .symptom-text10 {
   opacity:1;
}
.symptom-text10:hover  {
   opacity: 0.9;
}
.symptom-text10 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.symptom-check-btn {
   background-color: rgb(129, 120, 104);
   color: #fff;
   padding: 10px 25px;
   width: 105px;
   font-size: 20px;
   margin-top: 250px;
   margin-right: 60px;
   cursor: pointer;
   font-family: 'Maven Pro', sans-serif;
   transition: 1s ease-in-out;   
}

.symptom-check-btn:hover {
   background-color: rgba(173, 162, 142, 0.7);
   color: #fff;
   width: 110px;
   transform: scale(1.2);
   font-family: 'Grand Hotel', cursive;
}
#click-message{
   display: none;
   font-family: 'Maven Pro', sans-serif;
   font-size: 15px;
   position: absolute;
   z-index: 5;
   padding: 15px;
   margin-top: 10px;
   margin-left: -20px;
   width: 220px;
   color: rgb(63, 62, 62);
   margin-bottom: 66px;
}

.message-for-click {
   font-family: 'Quicksand', sans-serif;
   font-size: 22px;
   padding-top:10px;
   color: rgb(41, 39, 35);
   margin: 10px;
}


/*results*/
.desk-bg {
   background-image: url("../img/desk-bg.png");
   background-repeat: no-repeat; 
   background-size: cover;
   height: 1000px; 
   position: relative;
}

#result-content {
      background-color: rgb(201, 189, 165);
}

.message-logo {
  font-family: 'Grand Hotel', cursive;
   font-weight: bolder;
   color: rgb(93, 93, 93);
   padding-top: 36px;
   padding-right: 30px;
   font-size: 90px;
   letter-spacing: 2px;
   text-align: right;
}

#diagnosis-result {
   font-weight: bold;
   font-size: 38px;
}

.result-message1 {
   position: absolute;
   float: left;
   width: 560px;
   height: 750px;
   margin: 150px 400px;
   background-color: rgb(231, 235, 235);
   box-shadow: 1px 5px 12px rgba(0, 0, 0, .5);
   transform: rotate(-4deg);
   -ms-transform: rotate(-4deg); 
   -webkit-transform: rotate(-4deg);
   z-index: 3;
} 
.result-text1 {
   font-size: 32px;
   color: rgb(93, 93, 93);
   margin: -55px 30px;
   line-height: 40px;
   font-family: 'Caveat', cursive;
   padding-right: 10px;
   padding-top: 10px
}

.result-message2 {
   position: absolute;
   float: left;
   margin-top: 420px;
   margin-left: -10px; 
   width: 500px;
   height: 560px;
   background-image: url("../img/notepad1.png");
   background-repeat: no-repeat; 
   background-size: contain;
   transform: rotate(-15deg);
   -ms-transform: rotate(-15deg); 
   -webkit-transform: rotate(-15deg);
} 

.result-text2 {
   font-size: 24px;
   color: rgb(93, 93, 93);
   padding-top: 85px;
   padding-left: 50px;
   padding-right: 10px;
   line-height: 29px;
   font-family: 'Caveat', cursive;
   font-weight: 800;
   width: 370px;
}

.result-message3 {
   position: absolute;
   float: right;
   width: 500px;
   height: 620px;
   margin-top: 370px;
   margin-left: 980px;
   background-color: rgb(126, 102, 72);
   border-radius: 25px;
   box-shadow: 1px 5px 12px rgba(0, 0, 0, .5);
   transform: rotate(8deg);
   -ms-transform: rotate(8deg);
   -webkit-transform: rotate(8deg);
   font-family: 'Caveat', cursive;
}

.result-text3 {
   font-size: 30px;
   color: rgb(93, 93, 93);
   background-color: #fff;
   box-shadow: 1px 5px 12px rgba(0, 0, 0, .5);
   margin: 30px;
   line-height: 29px;
   padding: 100px 30px 50px 30px;
   height: 570px;
} 

.result-message4 {
   position: absolute;
   float: right;
   width: 200px;
   height: 200px;
   margin-top: 150px;
   margin-left: 100px;
   background-color: rgb(243, 232, 136);
   box-shadow: 1px 5px 12px rgba(0, 0, 0, .5);
   transform: rotate(-19deg);
   -ms-transform: rotate(-19deg);
   -webkit-transform: rotate(-19deg);
   z-index: 3;
}

.result-text4{
   font-size: 25px;
   color: rgb(93, 93, 93);
   margin: 50px 15px;
   line-height: 28px;
   font-family: 'Caveat', cursive;
}

.result-text1 li {
   font-size: 30px;
   color: rgb(93, 93, 93);
   line-height: 25px;
   font-family: 'Caveat', cursive;
   padding-left: 10px;
   padding-top: 10px;
}

.qr-message {
   font-size: 25px;
   color: rgb(93, 93, 93);
   margin: 30px 15px;
   line-height: 28px;
   font-family: 'Caveat', cursive;
   width: 400px;
}

#location-map {
   width: 350px;
   height: 250px;
   margin: 20px;
}

#teladoc-link{
   color: rgb(20, 184, 196);
}

.pad-holder {
   background-image: url("../img/holder.png");
   background-repeat: no-repeat; 
   background-size: contain;
   top: 380px;
   left: 1200px;
   position: absolute;
   float: left;
   z-index: 5;
   width: 200px;
   height: 100px;
   transform: rotate(8deg);
   -ms-transform: rotate(8deg);
   -webkit-transform: rotate(8deg);
}

.pen {
   background-image: url("../img/pen.png");
    background-repeat: no-repeat; 
   background-size: contain;
   z-index: 5;
   position: absolute;
   float: left;
   top: 650px;
   left: 800px;
   transform: rotate(-111deg);
   -ms-transform: rotate(-111deg);
   -webkit-transform: rotate(-111deg);
   width: 280px;
   height: 150px;
}

.pencil {
   background-image: url("../img/pencil.png");
   background-repeat: no-repeat; 
   background-size: contain;
   z-index: 5;
   position: absolute;
   float: left;
   top: 280px;
   left: 900px;
   transform: rotate(-165deg);
   -ms-transform: rotate(-165deg);
   -webkit-transform: rotate(-165deg);
   width: 360px;
   height: 150px;
}

.footer {
   background-color: rgb(121, 112, 101);
   color: #fff;
   font-size: 12px;
   letter-spacing: 2px;
   text-align: center;
   position: fixed;
   right: 0;
   bottom: 0;
   padding: 5px;
   width: 100%;
   z-index: 8;
   height: 66px;
   
}

.warning {
   font-size: 10px;
   line-height: 12px;
   text-align: center;
   padding-bottom: 5px;
   margin-top: -7px;


}

