* {
   box-sizing: border-box;
}

html, body {
   padding: 0;
   margin: 0;
   height: 100%;   
   background-color: rgb(121, 112, 101);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*index*/
.sick-girl {
   margin-top: 280px;
   position: absolute;
   z-index: 3;
}

#bottom-piece {
   width: 100%;
   height: 315px;
   background-color: rgb(201, 189, 165);
   top: 560px;
   position: fixed;
}

.intro-text1 {
   margin-top: 90px;
   font-size: 38px;
   font-family: 'Raleway', sans-serif;
   line-height: 42px;
}

.intro-text2 {
   font-size: 28px;
   font-family: 'Raleway', sans-serif;
   padding-top: 7px;
}

.intro-text3 {
   font-size: 22px;
   font-family: 'Pragati Narrow', sans-serif;
   margin-top: 1px;
}

.intro-text3-2 {
   font-size: 22px;
   font-family: 'Pragati Narrow', sans-serif;
   margin-top: -30px;
}

#input-name {
   /* font-family: 'Thasadith', sans-serif; */
   margin-top: -8px;
   font-size: 17px;
}

#input-zipcode {
   /* font-family: 'Thasadith', sans-serif; */
   margin-top: -8px;
   font-size: 17px;
}

.intro-text4 {
   font-size: 22px;
   font-family: 'Pragati Narrow', sans-serif;
   margin-top: -22px;
}

.check-yes-no {
   display: inline-flex;
   font-size: 18px;
   font-family: 'Barlow', sans-serif;
   margin-left: 20px;
   cursor: pointer;
   margin-top: 6px;
}

.check-no {
   padding-right: 30px;
   cursor: pointer;
}

.check-yes:hover {
   color: rgb(0, 189, 164);
   font-weight: bolder;
   font-size: 24px;
   transition: all 500ms;
   font-size-adjust: 20px;
}

.check-no:hover {
   color: rgb(245, 95, 9);
   font-weight: bolder;
   font-size: 24px;
   transition: all 500ms;
   font-size-adjust: 20px;
}

.last-quote {
   text-align: right;
   color: rgb(39, 39, 38);
}

 .alert {
   display: none;
   margin-left: 40px;
   top: 330px;
   font-size: 17px;
   font-weight: bolder;
   z-index: 5;
}

/*header*/
header {
   height: 60px;
   background-color: rgb(201, 189, 165);
   transition: 1s;
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   right: 0; 
   display: inline-flex;
    /* overflow: auto; */
}

header:hover {
   height: 200px;
   background-color: rgb(201, 189, 165);
   transition: transform .2s;
   transition: 1s;
   opacity: 0.4;
}

.logo {
  font-family: 'Grand Hotel', cursive;
   font-weight: bolder;
   color: #fff;
   padding-top: 10px;
   padding-left: 20px;
   font-size: 40px;
   letter-spacing: 2px;
   position: absolute;
}

#header-message {
   font-size: 52px;
   font-family: 'Quicksand', sans-serif;
   color: #fff;
   margin-left: 400px;
   position:absolute;
   -webkit-animation: move 1s infinite; /* Safari 4.0 - 8.0 */
   -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
   animation: move 1s infinite;
   animation-direction: alternate;
   z-index: 3;
}

@-webkit-keyframes move {
  from {top: 150px;}
  to {top: 25px;}
}

/*side nav*/
.nav-icon {
   margin-top: 150px;
   /* top: 330; */
   font-size: 30px;
   cursor: pointer;
}
.sidenav {
   height: auto;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 40;
   left: 0;
   background-color: rgba(78, 70, 63, 0.8);
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 7px;
   font-family: 'Maven Pro', sans-serif;
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*symptoms*/
.main-text {
   font-size: 25px;
   margin-left: 200px;
   margin-top: 150px;
   font-family: 'Quicksand', sans-serif;
   padding-bottom: 20px;
   color: rgb(41, 39, 35);
}

.sickboy-imgbtns {
   margin-left: 50px;
   margin-top: 5px;
   width: 80%;
}

.sickboy {
   background-color: rgb(250, 251, 252);
   padding: 0px 7px 5px 7px;
   margin-right: 20px;
   margin-bottom: 10px;
   border: 7px solid rgb(173, 162, 142);
   border-bottom-right-radius: 75px;
   border-top-right-radius: 75px;
   border-top-left-radius: 75px;
}
.sickboy:hover {
   border: 7px solid rgb(226, 223, 216);
}

.boy-container1 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy1:hover + .symptom-text1 {
   opacity:1;
}
.symptom-text1:hover  {
   opacity: 0.9;
}
.symptom-text1 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container2 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy2:hover + .symptom-text2 {
   opacity:1;
}
.symptom-text2:hover  {
   opacity: 0.9;
}
.symptom-text2 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container3 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy3:hover + .symptom-text3 {
   opacity:1;
}
.symptom-text3:hover  {
   opacity: 0.9;
}
.symptom-text3 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container4 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy4:hover + .symptom-text4 {
   opacity:1;
}
.symptom-text4:hover  {
   opacity: 0.9;
}
.symptom-text4 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container5 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy5:hover + .symptom-text5 {
   opacity:1;
}
.symptom-text5:hover  {
   opacity: 0.9;
}
.symptom-text5 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container6 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy6:hover + .symptom-text6 {
   opacity:1;
}
.symptom-text6:hover  {
   opacity: 0.9;
}
.symptom-text6 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container7 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy7:hover + .symptom-text7 {
   opacity:1;
}
.symptom-text7:hover  {
   opacity: 0.9;
}
.symptom-text7 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container8 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy8:hover + .symptom-text8 {
   opacity:1;
}
.symptom-text8:hover  {
   opacity: 0.9;
}
.symptom-text8 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container9 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy9:hover + .symptom-text9 {
   opacity:1;
}
.symptom-text9:hover  {
   opacity: 0.9;
}
.symptom-text9 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.boy-container10 {
   display:inline-flex;
  position:relative;
  cursor: pointer;
}
.btn-sickboy10:hover + .symptom-text10 {
   opacity:1;
}
.symptom-text10:hover  {
   opacity: 0.9;
}
.symptom-text10 {
   background-color: rgb(219, 121, 109);
   color: white;
   font-size: 15px;
   padding: 5px 10px;
   top: 50%;
   width:auto;
   text-align:center;
   opacity: 0;
   position:absolute;
   transition: .5s ease;
}

.symptom-check-btn {
   background-color: rgb(129, 120, 104);
   color: #fff;
   padding: 10px 25px;
   width: 180px;
   font-size: 20px;
   margin-top: 250px;
   cursor: pointer;
   align-content: initial;
   font-family: 'Maven Pro', sans-serif;
   transition: 1s ease-in-out;   
}

/* .symptom-check-btn:hover {
   background-color: rgba(173, 162, 142, 0.7);
   color: #fff;
   width: 480px;
   margin-top: 250px;
   transform: scale(1.8);
   font-family: 'Grand Hotel', cursive;
   font-size: 30px;
} */

.message-for-click {
   font-family: 'Quicksand', sans-serif;
   font-size: 20px;
   padding-top:10px;
   color: rgb(41, 39, 35);
}

.loading{
   font-size: 27px;
   font-family: 'Quicksand', sans-serif;
   color: rgb(129, 120, 104);
}

 /*Overlay*/
        .overlay {
            height: 100%;
            width: 100%;
            display: none;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(166, 216, 224);
            overflow-y: hidden;
            transition: 0.5s;
        }

        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            margin-top: 30px;
        }

        @media screen and (max-height: 450px) {
            .overlay a {
                font-size: 20px
            }
            .overlay {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }



/*results*/
.desk-bg {
   background-image: url("../img/desk-bg.png");
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover; 
   height: auto;
   position: relative;
}

.result-message {
   width: 780px;
   height: 920px;
   margin: 220px 90px;
   background-color: rgb(231, 235, 235);
   box-shadow: 1px 5px 12px rgba(0, 0, 0, .5);
   transform: rotate(-5deg);
   -ms-transform: rotate(-5deg); /* IE 9 */
   -webkit-transform: rotate(-5deg); /* Safari and Chrome */
}

.message-logo {
  font-family: 'Grand Hotel', cursive;
   font-weight: bolder;
   color: rgb(93, 93, 93);
   padding-top: 50px;
   padding-right: 30px;
   font-size: 90px;
   letter-spacing: 2px;
   text-align: right;
}

.result-text {
   font-size: 28px;
   color: rgb(93, 93, 93);
   margin: 30px;
   line-height: 39px;
}



/*footer*/
footer {
    background: rgb(173, 162, 142);
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 80px;
    padding-right: 70px;
    text-align: right;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;   
}