<header>
</header>
<div id="container-fluid">
  <div class="row">
    <div id="bottom-piece"></div>

    <div class="col-md-2"></div>

    <div class="col-md-4">

      <img src="./img/sick-girl.png" class="sick-girl" />

      <div class="alert-1">
        <span class="alert alert-info" role="alert">
          Again! You have to be over 18!
        </span>
      </div>

      <div class="alert-2">
        <span class="alert alert-danger" role="alert">
          Please enter your name! :)
        </span>
      </div>

    </div>

    <div class="col-md-4 intro-text">
      <div class="intro-text1">Are you feeling down?</div>
      <div class="intro-text2">Would you like to check if you have the flu? </div>

      <div class="input-field col s10">
        <div class="intro-text3">May I have your name?</div>
        <input type="text" placeholder="name here..." class="validate" id="input-name">
      </div>

      <div class="input-field col s10">
        <div class="intro-text3-2">Your zipcode please?</div>
        <input type="number" placeholder="zipcode here..." class="validate" id="input-zipcode">
      </div>

      <div class="input-field col s10">
        <div class="intro-text4">Are you over 18 year old? </div>
        <div class="check-yes-no">
          <div class="check-no">NO <i class="fas fa-check"></i></div>
          <div class="check-yes"> YES! <i class="fas fa-check"></i></div>
        </div>
      </div>

    </div>

    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="last-quote">If you are under 18, please ask your guardian to help.</div>
    </div>
  </div>

</div>